<template>
<ul>
  <li v-for="p in planetoids" :key="p.neo_reference_id">
    <h3><a :href="p.nasa_jpl_url" target="_blank">{{p.name}}</a></h3>
    <p>orbiting: {{p.close_approach_data[0].orbiting_body}}</p>
    <p>potentially hazardous {{p.is_potentially_hazardous_asteroid}}</p>
    <p>travels at {{p.close_approach_data[0].relative_velocity.kilometers_per_hour}} km/h</p>
    <p>misses Earth by {{p.close_approach_data[0].miss_distance.kilometers}} km</p>
    <p>estmiated diameter: <br>
      min {{p.estimated_diameter.meters.estimated_diameter_min}} meters<br>
      max {{p.estimated_diameter.meters.estimated_diameter_max}} meters
    </p>
  </li>
</ul>
</template>

<script>
const now = new Date();
const nowFormatted = `${now.getFullYear()}-${("0" + now.getMonth()).slice(-2)}-${("0" + now.getDate()).slice(-2)}`;
//const weekNum = now.getTime() + 7 * 24 * 60 * 60 * 1000;
//const week = new Date(weekNum);
const week = now;
const weekFormatted = `${week.getFullYear()}-${("0" + week.getMonth()).slice(-2)}-${("0" + week.getDate()).slice(-2)}`;
const baseUrl = 'https://api.nasa.gov/neo/rest/v1/feed';
const apiKey = 'MzJcdSeM8vSFCnwsVkLJT9XhRV3DvojwOY2ZqCmc';
const apiUrl= `${baseUrl}?start_date=${nowFormatted}&end_date=${weekFormatted}&api_key=${apiKey}`;


export default {
    name: 'CallPlanetoid',
    data() {
        return {
            planetoids: [],
            foo: 1
        }
    },
    created: function() {
        this.fetchData();
    },
    methods: {
        fetchData() {
            var xhr = new XMLHttpRequest()
            var self = this
            var data
            xhr.open('GET', apiUrl)
            xhr.onload = function () {
                data = JSON.parse(xhr.responseText)
                self.planetoids = data.near_earth_objects[nowFormatted]
            }
            xhr.send()
        }
    }
}
</script>

<style scoped>

</style>
