<template>
  <div id="app">
    <h1>Planetoids ahoy!</h1>
    <CallPlanetoid />
  </div>
</template>

<script>
import CallPlanetoid from './components/call-planetoid.vue';

export default {
    name: 'app',
    components: {
        CallPlanetoid
    },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
